.qmcentersub05 {
	WIDTH: 240px; MARGIN-BOTTOM: 10px; FLOAT: left
}
.qjqmtjqm_bg01 {
	BACKGROUND-IMAGE: url(../images/qjcmccqm_bg2.gif); PADDING-BOTTOM: 0px; PADDING-LEFT: 45px; WIDTH: 195px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
.qjqmtjqm_bg02 {
	BORDER-BOTTOM: #b9d7ea 1px solid; BORDER-LEFT: #b9d7ea 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; WIDTH: 238px; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: #b9d7ea 1px; BORDER-RIGHT: #b9d7ea 1px solid; PADDING-TOP: 15px
}
.qmcentersub05_1 {
	BACKGROUND-IMAGE: url(../images/qmfl_bg2.gif); PADDING-BOTTOM: 0px; PADDING-LEFT: 45px; WIDTH: 195px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 23px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
.qmcentersub05_2 {
	BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; WIDTH: 238px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; FLOAT: left; BORDER-TOP: #e2e2e2 1px; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 10px
}
.qmcentersub05_3 {
	WIDTH: 234px; FLOAT: left
}
.qmcentersub05_4 {
	BORDER-BOTTOM: #f1f1f1 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 18px; MARGIN-TOP: 5px; PADDING-LEFT: 10px; WIDTH: 224px; MARGIN-BOTTOM: 10px; FLOAT: left; COLOR: #717171
}
.qmcentersub05_4_1 {
	MARGIN-TOP: 3px; WIDTH: 10px; FLOAT: left
}
.qmcentersub05_4_2 {
	LINE-HEIGHT: 18px; WIDTH: 200px; WHITE-SPACE: normal; FLOAT: left
}
.qmbox01 {
	BACKGROUND-IMAGE: url(../images/qmbox_bg.gif); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 10px; WIDTH: 230px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 24px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.qmbox01_1 {
	FLOAT: left
}
.qmbox01_2 {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 5px
}
.qmbox02 {
	BORDER-BOTTOM: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 9px; WIDTH: 229px; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: #d7d7d7 1px; BORDER-RIGHT: #d7d7d7 1px solid; PADDING-TOP: 5px
}
.qmbox03 {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 5px; WIDTH: 210px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 5px
}
.qmbox03_1 {
	WIDTH: 210px; MARGIN-BOTTOM: 10px; FLOAT: left
}
.qmbox03_1_1 {
	BORDER-BOTTOM: #999 1px dotted; PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 69px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 69px; PADDING-TOP: 12px
}
#qmbox03_1_2_hot {
	PADDING-RIGHT: 25px; BACKGROUND: url(../images/hot.gif) no-repeat left 50%
}
.qmbox03_1_2 {
	LINE-HEIGHT: 18px; PADDING-LEFT: 8px; WIDTH: 120px; FLOAT: left
}
