.conlable {
  height:33px !important ;
  line-height:33px !important;
  height:30px;
  line-height:30px;
 /* background:#A0E6FE url() repeat-x bottom;*/
  padding:0px;
  list-style:none;
/*  border:1px solid #00CCFF;*/
  border-bottom:none;
/*  position:relative;*/
/*  z-index:900;*/
/*  padding:22px 0 0 0;*/
padding:10px 0px 0px 20px;;
margin-top:2px;
clear:both;
}
.conlable li{
  float:left;
  margin:0px 0px 0px 1px ;
  padding:0px;
}
.conlable a {
display:block; 
padding-left:5px;

 }
.conlable a span {
display:block;


/*height:33px !important;
height:28px; 这个定义在IE下会出现个问题就是每个laible占一行的位置；在Firefox中就没有这个问题具体原因不清楚*/

padding:6px 8px  5px 3px;
}
/*定义每个标签前面的小图片*/
.conlable img{
float:left;/*必须定义浮动属性触发块*/
padding:5px 7px 0px 0px;
border:0px;

}
 /*.conlable span {float:none; cursor:hand;}*/
/* Commented Backslash Hack hides rule from IE5-Mac \*/

/* End IE5-Mac hack */

.unselect{background:url(../images/lable_06.gif) no-repeat left 0px; }
.unselect span{background:url(../images/lable_07.gif) no-repeat right 0px;}


/*a.uselect:link {background:url(images/SSDXlable_06.gif) no-repeat left 0px;}
a.uselect:visited {background:url(images/SSDXlable_06.gif) no-repeat left -33px;}
a.uselect:hover {background:url(images/SSDXlable_06.gif) no-repeat left -66px;}
a.uselect:active {background:url(images/SSDXlable_06.gif) no-repeat left -99px;}

a.uselect:link span{background:url(images/SSDXlable_07.gif) no-repeat right 0px;}
a.uselect:visited span{background:url(images/SSDXlable_07.gif) no-repeat right -33px;}
a.uselect:hover span{background:url(images/SSDXlable_07.gif) no-repeat right -66px;}
a.uselect:active span{background:url(images/SSDXlable_07.gif) no-repeat right -99px;}*/


.Aselect{background: url(../images/lable_03.gif) no-repeat left top; }
.Aselect span{background:url(../images/lable_04.gif) no-repeat right top;}

.style1{
z-index:999;
clear:both;	
	height: 5px;
	margin: 0px auto;
	margin-top:-6px !important;
	margin-top:-2px;
	border:1px solid #07DFEC;
	border-bottom:none; border-bottom-style:0px solid #fff;

	
	background-color: #FFFFFF;
	}
.style1 h5{
	margin: 1px;
	margin-left:-1px;
	margin-right:-1px;
	margin-top:1px;
	background-color: #07DFEC;
	/*background:url(../images/lablebg.gif) repeat-x;*/
	
    height:4px;
	
    }