.c_box{
word-wrap:break-word;
background:url(../images/e_03.gif) left top no-repeat; width:50%;
background-repeat:no-repeat;
 }
.c_box h3{ text-align:left;
margin:0px 0px 0px 5px;
padding-left:20px;
height:40px;
line-height:40px;
font-size:14px;
color:#FF0000;
background:url(../images/e_04.gif) right top no-repeat;
background-repeat:no-repeat;
}
.c_box em{
display:block;
font-style:normal;
background:url(../images/e_03.gif) left bottom no-repeat;
}

.c_left{
display:block;
background:url(../images/e_03.gif) left bottom no-repeat;
background-repeat:no-repeat;
}
.c_box em p{
margin:0px 0px 0px 5px;
padding:5px;
display:block;
background:url(../images/e_04.gif) right bottom no-repeat;
}

.c_right{
margin:0px 0px 0px 5px;
padding:5px;
display:block;
background:url(../images/e_04.gif) right bottom no-repeat;
background-repeat:no-repeat;
}
ul,ol{ padding:0; margin:0; list-style:inside;}
br{ height:2px; line-height:2px;}