
a {text-decoration:none;}
a,a:visited {color:#000;background:inherit;}
body {margin:0;padding:20px;font:12px tahoma,宋体,sans-serif;}
dt {font-size:22px;font-weight:bold;margin:0 0 0 15px;}
dd {margin:0 0 0 15px;}
h4 {margin:0;padding:0;font-size:18px;text-align:center;}
p {margin:0;padding:0 0 0 18px;}
p a,p a:visited {color:#00f;background:inherit;}

/*基础标签*/
.Mytreebase img.s {cursor:pointer;vertical-align:middle;}
.Mytreebase ul {padding:0;}
.Mytreebase li {list-style:none;padding:0;}
.Closed ul {}
.Child img.s {background:none;cursor:default;}
/*实例one*/
/*#Mybox{margin:0 0 0 -200px; margin-left:-200px;}*/
#Mytreeone ul {margin:0 0 0 4px; }
#Mytreeone ul ul{margin:0 0 0 18px; }
#Mytreeone ul li{ padding:0 0 0 0px;}
#Mytreeone img.s {width:20px;height:15px;}
#Mytreeone .Opened img.s {background:url(skin1/opened.gif) no-repeat 0 0;}
#Mytreeone .Closed img.s {background:url(skin1/closed.gif) no-repeat 0 0;}
#Mytreeone .Child img.s {background:url(skin1/child.gif) no-repeat 3px 5px;}
/*实例one结束*/
/*实例tow*/
#Mytreetow ul {margin:0 0 0 0px;}
#Mytreetow ul ul{margin:0 0 0 18px; }
#Mytreetow ul li{ padding:0 0 0 0px;}
#Mytreetow img.s {width:20px;height:15px;}
#Mytreetow .Opened img.s {background:url(skin1/opened.gif) no-repeat 0 0;}
#Mytreetow .Closed img.s {background:url(skin1/closed.gif) no-repeat 0 0;}
#Mytreetow .Child img.s {background:url(skin1/child.gif) no-repeat 3px 5px;}
/*实例tow结束*/

/*Temp CSS for View Demo*/
/*#Mytreeone{float:left;width:200;border:1px solid #cccccc;background:#fff;color:inherit;margin:1px;padding:3px;}*/
#Mytreeone{padding-bottom:5px;}
.ViewCode {
 clear:both;
 border:1px solid #FFB900;background:#FFFFCC;color:inherit;margin:3px;padding:3px;
}
.ViewCode h6 {color:#00f;}